body {
    margin: 0;
}
/* @font-face {
    font-family: 'Photograph Signature';
    src: url('../font/PhotographSignature/Photograph\ Signature.ttf');
} */

/* SECTION NAVBAR */
header {
    background-image: url('../img/background/portfolio_page_tab.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
/* #navbar:active {
    text-decoration: underline;
} */
.active { 
    text-decoration: underline;
}
.navbar {
    display: flex;
}
.navbar-toggler {
    width: 3rem;
    left: 0;
}
.collapse {
    display: flex;
}
#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
}
.menu-bars a {
    padding: 10px 80px;
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    font-family: 'Tajawal', sans-serif;
}
.menu-bars a:hover {
    color: #f1f1f1;
}
.menu-bars li {
    list-style: none;
}
/* navbar fixe */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
}

/* SECTION HOME */
#home {
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo {
    width: 200px;
    background-color: none;
    left: 0;
    top: 0;
}
.vertical {
    border-left: 3px solid white;
    height: 170px;
    margin-left: 50px;
}
.icones i {
    font-size: 30px;
    color: #f1f1f1;
    display: block;
    background-color: none;
    margin: 30px 40px;
}
.titre {
    text-align: center;
    font-family: 'Tajawal', sans-serif;
}
.titre p {
    color: white;
    font-size: 60px;
}
.titre span {
    color: #f1f1f1;
    font-size: 50px;
}
/* SECTION SKILLS */
#skills {
    background-image: url('../img/background/portfolio_page_tab2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#skill {
    margin: auto;
}
/* .titreSkills {
    padding-top: 120px;
} */
.bigtitle {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 110px;
}

.imgSkill {
    width: 100%;
}

/* SECTION PROJECTS */
#projects {
    background-image: url('../img/background/portfolio_page_tab2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.portf {
    padding: 0px 100px 50px 100px;
    color: white;
    display: flex;
    justify-content: space-around;
}

.photoS {
    border: 3px solid yellow;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 15px 19px -6px black;
}

.btn {
    margin: 40px 110px;
    padding: 0px 20px;
    font-size: 50px;
    box-shadow: 0px 15px 19px -6px black;
}
.btn:hover {
    background-color: rgb(243, 243, 89);
}
.btn img {
    width: 40px;
    height: 40px;
}

.portf h3 {
    text-align: center;
    font-family: sans-serif;
}

/* Modal Content-Box */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 5%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: transparent;
    margin: 10% 18%;
    border: none;
}

.modal-content img {
    width: 400px;
    height: 350px;
    padding: 10px 0;
    border-radius: 15px;
    box-shadow: 0px 15px 19px -6px black;
}

.imgSous {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* The Close Button */
.close, .close2, .close3, .close4, .close5 {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus,
.close3:hover,
.close3:focus,
.close4:hover,
.close4:focus,
.close5:hover,
.close5:focus {
    color: yellow;
    text-decoration: none;
    cursor: pointer;
}

/* SECTION CONTACT */
#contact {
    background-image: url('../img/background/portfolio_page_tab2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.formCont {
    width: 69%;
    margin: auto;
    padding: 50px 0;
}

form {
    padding: 50px 0px 50px 0;
    height: 350px;
    background-color: grey;
    border-radius: 15px;
    box-shadow: 0px 15px 19px -6px black;
}

form label {
    padding-left: 30px;
}
form input {
    margin: 0 20px;
    background-color: grey;
    border: transparent;
    border-bottom: 2px solid rgb(90, 88, 88);
    cursor: pointer;
}
form .C {
    display: flex;
    flex-direction: column;
}

.butCont button {
    width: 130px;
    height: 50px;
    background-color: black;
    color: yellow;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 19px -6px black;
}
.butCont button:hover {
    background-color: rgb(78, 76, 76);
    box-shadow: 0px 15px 19px -6px black;
    border: none;
}

/* SECTION FOOTER */
footer {
    background-color: rgb(77, 75, 75);
}

footer h6 {
    color: white;
    font-family: 'Tajawal', sans-serif;
}

footer h2 {
    padding: 20px 0;
    font-family: 'Tajawal', sans-serif;
}
.textfooter {
    font-family: 'Tajawal', sans-serif;
}

.reseaux {
    padding: 0 20px;
}
footer i {
    color: white;
    font-size: 27px;
    padding: 0 18px;
}

.logoEnd {
    width: 200px;
    padding: 20px 0;
}

.copy {
    text-align: end;
}
.copy p {
    color: white;
    font-weight: bold;
    font-family: 'Tajawal', sans-serif;
    border: 1px solid rgb(121, 118, 118);
}

